.wrapper {
  border: 1px solid black;
}

.meter {
  margin: auto;
  width: 50%;
  height: 1rem;
}

.meter::-webkit-meter-bar {
  background: none;
  background-color: none;
  background-image: linear-gradient(
    to right, 
    red 0%,
    red 32.667%,
    transparent 32.667%,
    transparent 33.667%,
    red 33%,
    red 65.337%,
    transparent 65.337%,
    transparent 66.337%,
    red 66.337%,
    red 100%
  );
  background-size: 100% 100%;
}
