.form {
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid black;
  max-width: 480px;
}

.formRow {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.formEntry {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}

.formField {
  display: block;
}

.formButton {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  background: black;
  color: #fff;
  text-align: center;
}
