.form {
  position: relative;
  margin: auto;
  padding: 1rem;
  border: 1px solid black;
  max-width: 480px;
}

.formRow {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.formButton {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  background: black;
  color: #fff;
  text-align: center;
}

.formButtonIsDisabled {
  background: gray;
  color: lightgray;
}
